@font-face {
    font-family: 'NumberFallback';
    /* 本例用系统自带 Arial，你也可以改成其他任何字体 */
    src: local('Times New Roman');
    /* 仅对 U+0030–U+0039（即 0–9）生效 */
    unicode-range: U+0030-0039;
}

:root {
    /* page */
    --page-content-max-width: 1200px;

    /* card hover */
    --home-post-hover-scale: 1.02;

    /* font */
    /* --base-font-family: 'Segoe UI', 'PingFang SC', 'Microsoft YaHei', SimHei, sans-serif; */
    /* --base-font-family: 'Georgia', "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; */
    --base-font-family: 'NumberFallback', 'Georgia', Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    --base-font-size: 18px;

    /* color */
    --text-color-3: #191b1f;
    /* markdown color style */
    --text-color-strong: #a22a2a;
    --text-color-h2: #285e8e;
    --text-color-h3: #777d09;
}

img[lazyload] {
    position: relative;
    box-sizing: border-box;
    width: 0rem !important;
    height: 0rem !important;
    box-shadow: none !important;
    cursor: not-allowed;
    pointer-events: none;
}

.keep-markdown-body {

    h2 {
        border-left: 4px solid rgb(8, 75, 135);
        padding-left: 1em;
        margin-top: 1.8em;
        margin-bottom: 0.5em;
        color: var(--text-color-h2);
    }

    h3 {
        color: var(--text-color-h3);
    }

    strong {
        color: var(--text-color-strong);
    }
}